body {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-image {
    width: 400px;
    height: 230px;
    padding-bottom: 50px;
}

header {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin-bottom: auto;
    height: 22em;
    align-items: center;
    flex: 1;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-self: normal;
    align-items: center;
}

header, footer {
    background: #1F2937;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 15ch;
    line-height: 1.1;
    margin-bottom: 0;
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 8px 24px;
    color: #F9FAF8;
    border: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 175px;
}

.hero-secondary, a {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 40ch;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    padding-top: 10px;
    padding-right: 175px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-button {
    padding-right: 40px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-left: 30px;
}

a:hover {
    color: rgb(253, 214, 167);
}

.hero-below {
    padding-bottom: 100px;
}